@import "tailwindcss";

:root {
  font-family: var(--font-cairo), sans-serif;
  --lightBlue: rgba(44, 134, 208, 0.376);
  --mainBlue: #234764;
  --hoverBlue: #1a3d5a;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  font-family: "Cairo", sans-serif;
}

.card-shadow {
  box-shadow: 0 10px 30px rgba(20, 30, 40, 0.07);
}

.btn {
  @apply text-sm flex flex-row rounded-xl px-5 py-3 items-center justify-center gap-3 cursor-pointer transition-colors duration-500;
}

.main-btn {
  @apply text-white bg-[var(--mainBlue)] hover:bg-[var(--hoverBlue)];
}

.secondary-btn {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-700;
}

.input {
  @apply text-right w-full border border-gray-200 rounded-xl p-2 focus:ring-2 focus:ring-[var(--mainBlue)] focus:outline-none;
}

.card-row {
  @apply flex flex-row gap-2 border-gray-200 pb-5 border-b;
}
